/* WHERE IT ALL STARTED */

.whereItAllStarted{
    margin-top: 250px;
    justify-content: center;
    align-content: center;
    margin-bottom: 250px;
}

.startedIntro-textContainer{
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

/* WHAT MAKES US SPECIAL */

.whatMakesUsSpecial{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 250px;
    align-items: center;
    gap: 150px;
}


.whatMakesUsSpecial-image{
    display: flex;
    justify-content: center;
    align-items: center;
}


.whatMakesUsSpecial-image img{
    max-width: 100%;
    height: auto;
    padding-left: 10%;
}


.whatMakesUsSpecial-text{
    display: flex; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    text-align: left; 
    max-width: 650px; 
    padding-left: 7%;
    padding-right: 7%;
}

/* OUR MISSION */
.ourMission {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 250px;
    margin-bottom: 250px;
}

.ourMission-image1 img {
    padding-left: 15%;
    max-width: 100%;
    height: auto;
}

.ourMission-image2 img {
    float: right;
    padding-right: 15%;
    max-width: 100%;
    height: auto;
}

.ourMission-text {
    text-align: center;
    padding-left: 7%;
    padding-right: 7%;
    max-width: 650px;
}

/* OUR COMMUNITY */
.ourCommunity {
    margin-top: 250px;
    margin-bottom: 250px;
}

.ourCommunity-textContainer {
    text-align: center;
    margin-left: 10%;
    margin-right: 10%;
}

/* ANIMATIONS */
@keyframes title-section {
    from {
        transform: translateY(-30%);
        opacity: 0;
    }
    to {
        transform: translateY(0%);
        opacity: 1;
    }
}

#Main-title {
    animation: title-section 1.5s ease-out;
    position: relative;
}

/* TITLE AREA */
#title-area h1 {
    font-family: Lato;
    font-size: 75px;
    color: white;
    text-align: center;
}

/** SCROLL BUTTON **/

#scrolltotop-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 0;
    cursor:pointer;
    display: none; 
    z-index: 1000; 
}

#scrolltotop-button img {
    width: 45px; 
    height: 45px;
}

/** MEDIA QUERY **/

@media (max-width: 768px) {
    .whatMakesUsSpecial {
        flex-direction: column; 
        gap: 30px; 
    }

    .whatMakesUsSpecial-image{
        margin-bottom: 50px;
    }

    .ourMission{
        flex-direction: column;
        margin-bottom: 200px;
    }

    .ourMissionImage1{
        margin-bottom: 60px;
    }

    .ourMissionImage2{
        margin-top: 60px;
    }
}


@media (max-width: 768px) {

    .whatMakesUsSpecial-text{
        margin-left: 40px;
        margin-right: 40px;
        text-align: center;
    }

    .whatMakesUsSpecial-image{
        width: 70%;
    }

    .ourMission-text{
        margin-left: 40px;
        margin-right: 40px;
        text-align: center;
    }

 
}
