
/* WHY JOIN SECTION */

.why-join-section{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 250px;
    align-items: center;
    gap: 150px;
}


#why-join-image{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: center;
}


#why-join-image img{
    width: 120%;
    height: auto;
    padding:5%;
    margin-left:-50px;
    
}


.why-join-textContainer{
    display: inline-block; 
    flex-direction: column; 
    justify-content: flex-start; 
    align-items: flex-start; 
    text-align: left; 
    max-width: 650px; 
}

.why-join-textContainer img{
    margin-right: 20px;
}



.Icons1 {
    width: 57px;
    height:57px;
    float:left;
    margin-left:10px;
}


#Icons2 {
    margin-left:-50px;
    padding:0%;
    max-width:5px;
    height:auto;
}



/* REQUIREMENTS */

.requirements{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 250px;
    align-items: center;
    gap: 150px;
    margin-bottom: 250px;
}


.requirement-image-container{
    display: flex;
    justify-content: center;
    align-items: center;
}


.requirement-image-container img{
    max-width: 100%;
    height: auto;
}

.requirement-text-container img{
    max-width: 100%;
    height: auto;
}




/* SCROLL BUTTON */


#scrolltotop-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 0;
    cursor:pointer;
    display: none; 
    z-index: 1000; 
}

#scrolltotop-button img {
    width: 45px; 
    height: 45px;
}


/* MOBILE RESPONSIVENESS */

@media (max-width: 768px) {
    .why-join-section {
        flex-direction: column; 
        gap: 30px; 
    }

    .why-join-textContainer {
        max-width: 80%; 
        text-align: center; 
        margin-bottom: 100px;
    }

    .Icons1 {
        float: none;
    }

    .requirements{
        flex-direction: column;
    }
}



@media (max-width: 768px) {
    .requirement-text-container img {
        margin-left: 10px;
        margin-right: 10px;
    }
}/*Animations */
@keyframes Main-title {
    from {
        transform: translateY(-10%);
        opacity: 0;
      }
      to {
        transform: translateY(0%);
        opacity: 1;
      }
}
#Main-title {
    animation: Main-title 1.5s ease-out;
}
@keyframes Main-Text {
    from {
        transform: translateY(-10%);
        opacity: 0;
      }
      to {
        transform: translateY(0%);
        opacity: 1;
      }
}
#Main-Text {
    animation: Main-Text 1.5s ease-out;
    
}
#title-area {
    height: 100vh;
}