.scroll-button-icon {
    position: absolute;
    top: 3393px;
    left: 1290px;
    border-radius: 32px;
    width: 64px;
    height: 64px;
    object-fit: contain;
  }
  .image-icon {
    align-self: stretch;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    height: 600px;
    flex-shrink: 0;
    object-fit: contain;
  }
  .hero-section-image {
    position: absolute;
    top: 10px;
    left: 13px;
    width: 1460px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-3xs);
    box-sizing: border-box;
  }
  .header-background-rectangle-child {
    align-self: stretch;
    position: relative;
    backdrop-filter: blur(20px);
    background-color: rgba(0, 0, 0, 0.33);
    height: 600px;
  }
  .header-background-rectangle,
  .header-h1 {
    position: absolute;
    display: flex;
    padding: var(--padding-3xs);
  }
  .header-background-rectangle {
    top: 0;
    left: 0;
    width: 1460px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .header-h1 {
    top: calc(50% - 37px);
    left: 610px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .hero-section {
    position: absolute;
    top: -20px;
    left: -23px;
    width: 1473px;
    height: 630px;
    text-align: center;
    font-size: 52px;
  }
  .our-community {
    position: relative;
    text-transform: uppercase;
  }
  .community-drives-everything {
    width: 1260px;
    position: relative;
    line-height: 30px;
    font-weight: 300;
    display: inline-block;
    flex-shrink: 0;
  }
  .paragraph1section4 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-3xs);
  }
  .paragraphs-section-4 {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: center;
    font-size: var(--font-size-lg);
    font-family: var(--font-poppins);
  }
  .rectangeshadow-image21,
  .section-4 {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .section-4 {
    top: 2920px;
    left: 80px;
    width: 1280px;
    flex-direction: column;
    gap: var(--gap-3xs);
  }
  .rectangeshadow-image21 {
    top: 0;
    left: 0;
    flex-direction: row;
    padding: var(--padding-3xs);
  }
  .image-21-icon {
    width: 300px;
    position: relative;
    border-radius: var(--br-2xs);
    height: 435px;
    object-fit: contain;
  }
  .image-21 {
    position: absolute;
    top: 25px;
    left: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-3xs);
  }
  .content-image21 {
    width: 400px;
    position: relative;
    height: 505px;
  }
  .our-mission-at {
    width: 446px;
    position: relative;
    line-height: 30px;
    font-weight: 300;
    display: inline-block;
    flex-shrink: 0;
  }
  .content-3,
  .paragraph-1- {
    display: flex;
    align-items: center;
  }
  .paragraph-1- {
    align-self: stretch;
    flex-direction: row;
    justify-content: center;
    padding: var(--padding-3xs);
    text-align: center;
    font-size: var(--font-size-lg);
    font-family: var(--font-poppins);
  }
  .content-3 {
    width: 466px;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--gap-3xs);
  }
  .rectangeshadow-image2-child {
    width: 268px;
    position: relative;
    border-radius: var(--br-4xs);
    background: linear-gradient(
      90deg,
      rgba(247, 239, 193, 0.2),
      rgba(224, 188, 107, 0.2)
    );
    height: 485px;
  }
  .rectangeshadow-image2 {
    top: 0;
    left: 112px;
    padding: var(--padding-3xs);
  }
  .image-2,
  .rectangeshadow-image2,
  .section-3 {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .image-2 {
    top: 25px;
    left: 0;
    padding: var(--padding-3xs);
  }
  .section-3 {
    top: 2275px;
    left: 80px;
    gap: 6px;
  }
  .shadow-rectangle-child {
    align-self: stretch;
    position: relative;
    border-radius: var(--br-4xs);
    background: linear-gradient(
      90deg,
      rgba(247, 239, 193, 0.2),
      rgba(224, 188, 107, 0.2)
    );
    height: 446px;
  }
  .shadow-rectangle {
    position: absolute;
    top: 120px;
    left: 0;
    width: 481px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-3xs);
    box-sizing: border-box;
  }
  .image-removebg-preview-11-1 {
    align-self: stretch;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    height: 500px;
    flex-shrink: 0;
    object-fit: cover;
  }
  .image-top {
    position: absolute;
    top: 0;
    left: 40px;
    width: 533px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-3xs);
    box-sizing: border-box;
  }
  .image-content-1 {
    width: 573px;
    position: relative;
    height: 586px;
  }
  .what-sets-plate {
    width: 637px;
    position: relative;
    line-height: 30px;
    font-weight: 300;
    display: inline-block;
    flex-shrink: 0;
  }
  .paragraphs-2 {
    align-self: stretch;
    flex-direction: column;
    align-items: flex-start;
    font-size: var(--font-size-lg);
    font-family: var(--font-poppins);
  }
  .content-1,
  .paragraphs-2,
  .section2 {
    display: flex;
    justify-content: flex-start;
  }
  .content-1 {
    width: 657px;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--gap-3xs);
  }
  .section2 {
    position: absolute;
    top: 1538px;
    left: 80px;
    flex-direction: row;
    align-items: center;
    gap: 50px;
  }
  .when-we-decided {
    width: 1186px;
    position: relative;
    line-height: 30px;
    font-weight: 300;
    display: inline-block;
    flex-shrink: 0;
  }
  .first-paragraph {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--padding-3xs);
  }
  .this-passion-led {
    width: 1186px;
    line-height: 30px;
    font-weight: 300;
    flex-shrink: 0;
  }
  .as-plate-of,
  .second-paragraph,
  .this-passion-led {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .second-paragraph {
    flex-direction: row;
    padding: var(--padding-3xs);
    margin-left: -599px;
  }
  .as-plate-of {
    width: 1180px;
    line-height: 30px;
    font-weight: 300;
    flex-shrink: 0;
  }
  .paragraphs,
  .section1 {
    display: flex;
    justify-content: flex-start;
  }
  .paragraphs {
    align-self: stretch;
    flex-direction: row;
    align-items: flex-end;
    flex-wrap: wrap;
    align-content: flex-end;
    text-align: center;
    font-size: var(--font-size-lg);
    font-family: var(--font-poppins);
  }
  .section1 {
    position: absolute;
    top: 740px;
    left: 117px;
    width: 1206px;
    flex-direction: column;
    align-items: center;
    gap: var(--gap-3xs);
  }
  .bc9cd51-fbdd-4b9d-9250-bcf0e2b-icon {
    width: 118px;
    position: relative;
    height: 118px;
    object-fit: cover;
  }
  .logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: var(--padding-3xs);
  }
  .home {
    position: relative;
    font-weight: 300;
  }
  .link-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
  .login-button {
    border-radius: 24px;
    background: linear-gradient(90deg, #f7efc1, #e0bc6b);
    height: 37px;
    justify-content: center;
    padding: 6px 32px;
    box-sizing: border-box;
    text-align: left;
    color: #232323;
  }
  .header-link-right,
  .login-button,
  .navigation-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .header-link-right {
    justify-content: flex-start;
    gap: var(--gap-3xs);
  }
  .navigation-bar {
    position: absolute;
    top: 26px;
    left: 80px;
    width: 1274px;
    justify-content: space-between;
    gap: 0;
    text-align: center;
    font-size: var(--font-size-lg);
    font-family: var(--font-poppins);
  }
  .about-us {
    width: 100%;
    position: relative;
    background-color: #0f0f0f;
    height: 3970px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-25xl);
    color: var(--color-white);
    font-family: var(--font-gilroy);
  }