.home-hero-bg{
    margin-top: 0;
    background-image: url('images/home-hero.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

/*
@media screen and (max-width: 992px) {
    .home-hero-bg {
        background-image: url(https://images-ext-1.discordapp.net/external/1p9BNPfNwCMZgZkbsWO5amU_HSp1dkyy-TIzXHCu2ts/%3Fw%3D600%26auto%3Dformat%26fit%3Dcrop%26q%3D60%26ixlib%3Drb-4.1.0%26ixid%3DM3wxMjA3fDB8MHxzZWFyY2h8OHx8ZGFyayUyMGFmcmljYXxlbnwwfHwwfHx8MA%253D%253D/https/images.unsplash.com/photo-1439792675105-701e6a4ab6f0?format=webp);
    }
}
    */